Backend/Calendario/Calendario/bin*
Backend/Calendario/Calendario/obj*
Backend/Calendario/.vs/*

.vs/CalendarioUCSAL/FileContentIndex/c6b93a0c-a46f-4647-9e83-bf530af99ff0.vsidx
.vs/CalendarioUCSAL/v17/.wsuo
.vs/CalendarioUCSAL/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
